:root {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/* ini kode awal style topbar */
.topbar {
  background-color: #3a3a3a;
  height: 180px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 3;
}
.alamat {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 5px;
  height: 200px;
}
.alamat div a {
  text-decoration: none;
  color: #7d7d7d;
  font-family: "Roboto", sans-serif;
  font-size: small;
}

.layanan.nol {
  /* background-color: rgb(70, 0, 55); */
  height: 35px;
  line-height: 34px;
  border-bottom: solid 1px #7d7d7d;
}

.layanan.satu {
  /* background-color: rgb(5, 5, 122); */
  height: 35px;
  line-height: 34px;
  border-bottom: solid 1px #7d7d7d;
}

.layanan.dua {
  /* background-color: rgb(43, 87, 43); */
  height: 35px;
  line-height: 34px;
  border-bottom: solid 1px #7d7d7d;
}

.layanan.tiga {
  /* background-color: rgb(119, 1, 1); */
  height: 35px;
  line-height: 34px;
  border-bottom: solid 1px #7d7d7d;
}

.layanan.empat {
  /* background-color: rgb(49, 49, 47); */
  height: 35px;
  line-height: 34px;
}
/* ini kode akhir style topbar */

/* ini kode awal style navigasibar */
header {
  background-color: #a2c046;
  padding-left: 1.5em;
  /* max-width: 1200px;
  margin: auto; */
  /* position: relative; */
}

.branding-logo {
  color: #ffffff;
  font-size: calc(0.8rem + 1vw);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1em 1.5em;
  font-size: 1.3rem;
}

/* styling submenu */
.has-dropdown {
  position: relative;
}
.submenu {
  position: absolute;
  left: 0;
  background-color: #a2c044;
  white-space: nowrap;
  padding: 1.5em 0;
  min-width: 22em;

  /* hide submenu */

  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
}

.submenu > li > a {
  padding: 0.8em 1.5em;
}

.menu > li:hover > a,
.submenu > li:hover > a {
  background-color: aqua;
  color: yellow;
}

.menu > li:hover > a {
  background-color: blue;
}

/* arrpws */
.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15 em solid currentColor;
  border-bottom: 0.15 em solid currentColor;
  transform: rotate(-45deg);
  margin-top: -0.25em;
  transition: transform 100ms ease-in-out;
}

/* animate arrows */
.menu > li:hover > a > .arrow,
.submenu > li:hover > a > .arrow {
  transform: rotate(225deg);
}

/* Reveal Submenu */

.menu > li:hover > a + .submenu,
.submenu > li:hover > a + .submenu {
  opacity: 1;
  transform: scaleY(1);
}
/* ini kode akhir style navigasibar */

/* responsive */
@media (min-width: 768px) {
  .alamat {
    display: flex;
    justify-content: space-between;
  }

  .topbar {
    height: 40px;
    z-index: -9;
    position: relative;
  }

  .layanan.nol {
    width: 310px;
    border-bottom: none;
  }

  .layanan.satu {
    width: 370px;
    display: flex;
    justify-content: flex-end;
    border-bottom: none;
  }

  .layanan.dua {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    border-bottom: none;
  }

  .layanan.tiga {
    width: 220px;
    display: flex;
    justify-content: flex-end;
    border-bottom: none;
  }

  .layanan.empat {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    border-bottom: none;
  }
  .layanan.empat a i {
    padding-right: 5px;
  }
}

@media only screen and (max-width: 78.75em) {
  .submenu .submenu .submenu {
    left: 100%;
    top: 0.5em;
  }
  .submenu {
    min-height: 16em;
  }
}

@media only screen and (max-width: 58.75em) {
  .menu li a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 50em) {
  header {
    position: relative;
    padding: 1.5em 2em;
  }
  .menu {
    flex-flow: column;
    position: absolute;
    top: 4.55em;
    left: 0;
    right: 0;
    height: 100vh;
  }
  .menu > li > a {
    font-size: 1.5em;
    color: #3a3a3a;
  }

  .submenu > li > a {
    font-size: 1.5rem;
  }

  .submenu {
    top: 0;
    padding-left: 1.5em;
    border-left: 0.12em dotted hsla(342, 99%, 45%, 0.95);
  }

  .menu > li:hover > a + .submenu,
  .submenu > li:hover > a + .submenu {
    position: relative;
  }
}
