body {
    margin: 0;
    padding: 0;
}

.topbar{
    background-color: #3a3a3a;
    height: 130px;
    padding-left: 15px;
}
.alamat {
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 5px;
}
.alamat div a{
    text-decoration: none;
    color: #7d7d7d;
    font-family: 'Roboto';
    font-size: small;

}

/* .layanan.nol {
    background-color: rgb(70, 0, 55);
}

.layanan.satu {
    background-color: rgb(5, 5, 122);
}

.layanan.dua {
    background-color: rgb(43, 87, 43);
}

.layanan.tiga {
    background-color: rgb(119, 1, 1);
}

.layanan.empat {
    background-color: rgb(49, 49, 47);
} */

/* responsive */
@media (min-width: 800px){
    .alamat{
        display: flex;
        justify-content: space-between;
    }

    .topbar {
        height: 35px;
    }

    .layanan.nol {
        width: 310px;
    }

    .layanan.satu {
        width: 370px;
        display: flex;
        justify-content: flex-end;
    }

    .layanan.dua {
        width: 200px;
        display: flex;
        justify-content: flex-end;
    }
    
    .layanan.tiga {
        width: 220px;
        display: flex;
        justify-content: flex-end;
    }

    .layanan.empat {
        width: 100px;
        display: flex;
        justify-content: flex-end;
    }
    .layanan.empat a i {
        padding-right: 5px;
    }
}